.App {
 
  background:linear-gradient(to left, black,crimson);
  
  height:100%;
  width:100%;
  color:white;
}
a{
  text-decoration: none;
}
li{
  list-style:none;
}
.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111111;
}

.header__shrink {
  background: #14141f;
  box-shadow: 2px 2px 4px -2px crimson;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  align-items: center;
  column-gap: 2.7rem;
  margin-bottom: 0;
}

.nav__item a {
  text-decoration: none;
  color: #fff;
}

.nav__item a:hover {
  color: #fff;
}

.active {
  color: #e250e5 !important;
}

.logo h2 {
  background: linear-gradient(-45deg, #0a0a0a, white, crimson, white);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  -webkit-text-fill-color: #14141f;
  margin-bottom: 0;
}

.nav__right .btn {
  padding: 7px 25px;
  border: 1px solid white;
  border-radius: 50px;
}

.nav__right .btn a {
  color: #fff;
  text-decoration: none;
  font-size: 0.8rem;
}

.nav__right .btn span i {
  color: #fff;
}

.nav__right .btn a:hover {
  color: #fff;
}

.mobile__menu {
  color: #fff;
  font-size: 1.3rem;
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#14141f83, #14141f83);
    z-index: 222222;
    display: none;
  }

  .active__menu {
    display: block;
  }
  .nav__list {
    position: absolute;
    top: 0;
    right: 0;
    width: 250px;
    height: 100%;
    background: #343444;
    z-index: 333333;
    flex-direction: column;
    padding-top: 40px;
  }

  .mobile__menu {
    display: block;
  }

  .btn {
    padding: 4px 25px !important;
  }

  .btn a {
    font-size: 0.7rem !important;
  }
}
.modal__wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #14141f8a;
  z-index: 4444444;
}

.single__modal {
  position: relative;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  background: #171718 !important;
  border-radius: 5px;
  padding: 30px;
  z-index: 5555555 !important;
  cursor: pointer;
}

.single__modal h6 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 10px;
}

.single__modal .money {
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.input__item input {
  width: 100%;
  border: 1px solid rgba(221, 221, 221, 0.274);
  background: transparent;
  color: #fff;
  padding: 9px 25px;
  border-radius: 5px;
  outline: none;
  font-size: 0.8rem;
}

.input__item h6 {
  font-size: 0.9rem;
  color: #fff;
}

.place__bid-btn {
  padding: 7px 25px;
  border: none;
  outline: none;
  width: 150px;
  margin: auto;
  background: crimson;
  color: #fff;
  border-radius: 50px;
  font-size: 0.8rem;
  display: block;
  margin-top: 15px;
}

.close__modal {
  position: absolute;
  top: -2px;
  right: -2px;
  z-index: 6666666;
}

.close__modal b {
  padding: 5px;
  background: crimson;
  color: #fff;
  border-radius: 50%;
}

@media only screen and (max-width: 992px) {
  .single__modal {
    width: 300px;
    height: auto;
  }

  .single__modal h6 {
    font-size: 0.9rem;
  }
  .single__modal p {
    font-size: 0.8rem;
    margin-bottom: 0;
  }

  .money {
    font-size: 0.8rem !important;
  }

  .input__item h6 {
    font-size: 0.7rem;
  }

  .input__item input {
    padding: 5px 20px !important;
    font-size: 0.7rem;
  }
}

.single__nft__card {
  padding: 20px;
  background: #151516;
  border-radius: 10px;
}

.nft__img img {
  border-radius: 10px;
}

.nft__img {
  margin-bottom: 15px;
}

.nft__title {
  margin-bottom: 15px;
}

.nft__title a {
  color: #fff;
  font-size: 1rem;
  text-decoration: none;
}

.nft__title a:hover {
  color: #fff;
}

.creator__img {
  width: 40px;
  height: 40px;
}

.creator__info h6 {
  font-size: 0.7rem;
  color: rgba(255, 255, 255, 0.772);

  margin-bottom: 0;
  font-weight: 300;
}

.creator__info p {
  font-size: 0.9rem;
  color: #fff;

  margin-bottom: 0;
  font-weight: 500;
}

.bid__btn {
  border: none;
  outline: none;
  padding: 5px 22px;
  background: transparent;
  border: 1px solid crimson;
  font-size: 0.9rem;
  color: #fff;
  border-radius: 50px;
  transition: 0.3s;
  background: crimson;
}

.bid__btn:hover {
  background: #fff;
  color: #5142fc;
}

.history__link a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.772);

  font-size: 0.9rem;
}

.history__link a:hover {
  color: #fff;
}

.live__auction__top h3 {
  color: #fff;
}

.live__auction__top span a {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px solid #5142fc;
}
.Header{
  display:flex;
 
  justify-content: center;
  width:100%;
  align-items: center;
  margin: auto;
}
.HeaderContent{
  display:flex;
 
  justify-content: space-between;
  width:100%;
  margin:40px auto;

}
.Header img{
  width:350px;
  height:300px;
  border-radius: 10px;
}
.Header button{
  background-color: transparent;
  border: 1px solid white;
  padding:4px;
  border-radius: 6px;
  width:100px;
  color:white;

}
.AuctionContainer {
  display:flex;
  
  justify-content: space-between;
}
.AuctionNft{
  background-color: #220309;
  width:260px;
  height:max-content;
  padding:5px;
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  border-radius: 5px;
 
}
.AuctionNft img{
  width:100%;
  height:200px;
  border-radius: 5px;
}

.sell{
  display:flex;
  justify-content: space-between;
}

.nfts{
  width:280px;
  height:max-content;
  background:black;
  padding-top:8px;

}
.sellers{
  display:flex;
  
 margin-bottom: 20px;
 
  overflow-x:auto;
  padding:10px;

}
.sellers::-webkit-scrollbar{
  width:1px;
  height:10px;
 
}
.sellers::-webkit-scrollbar-thumb{
  background:linear-gradient(to left, black,crimson);
      border-radius:20px;
  }
.sellers h4{
  font-size:15px;
}
.bg{
  background: url("./images/bg.jpg");
  height:300px;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items:center;
  justify-content: center;
}





@media only screen and (max-width: 992px) {
  .nft__title {
    font-size: 0.8rem !important;
  }

  .creator__info h6 {
    font-size: 0.6rem !important;
  }

  .creator__info p {
    font-size: 0.7rem !important;
  }

  .bid__btn {
    padding: 4px 20px !important;
    font-size: 0.6rem !important;
  }
  .history__link a {
    font-size: 0.6rem !important;
  }
}