.App {
 
  background:linear-gradient(to left, black,crimson);
  
  height:100%;
  width:100%;
  color:white;
}
a{
  text-decoration: none;
}
.Header{
  display:flex;
 
  justify-content: center;
  width:100%;
  align-items: center;
  margin: auto;
}
.HeaderContent{
  display:flex;
 
  justify-content: space-between;
  width:100%;
  margin:40px auto;

}
.Header img{
  width:350px;
  height:300px;
  border-radius: 10px;
}
.Header button{
  background-color: transparent;
  border: 1px solid white;
  padding:4px;
  border-radius: 6px;
  width:100px;
  color:white;

}
.AuctionContainer {
  display:flex;
  
  justify-content: space-between;
}
.AuctionNft{
  background-color: #220309;
  width:260px;
  height:max-content;
  padding:5px;
  display: flex;
  flex-direction: column;
 
  justify-content: center;
  border-radius: 5px;
 
}
.AuctionNft img{
  width:100%;
  height:200px;
  border-radius: 5px;
}

.sell{
  display:flex;
  justify-content: space-between;
}

.nfts{
  width:280px;
  height:max-content;
  background:black;
  padding-top:8px;

}
.sellers{
  display:flex;
  
 margin-bottom: 50px;
 
  overflow-x:auto;
  padding:10px;

}
.sellers::-webkit-scrollbar{
  width:1rem;
  height:3px;
 
}
 
  .sellers:thumb{
      background:white;
      border-radius:20px;
  }



